.happy-students img {
    width: 200px;
    clip-path: circle();
    margin-top: 10px;
}

.happy-students {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    width: 80%;


}

@media only screen and (max-width: 600px) {
    .happy-students {
        display: block;
        width: 80%;
        margin-bottom: 20px;
        margin-top: 20px;

    }
}